################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS3021-LCA/v16
/.vs/
/x64/*
/packages/*
CS3012-LCA-Test/x64